
body {
    margin: 0;
    height: 100vh;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.nav-bar {
    background-color: rgb(0 0 0 / 20%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-title {
    color: #134644;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 50px;
    background-color: #54eb6a;
}

.container {
    width: 800px;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.slots {
    display: flex;
    flex: 1.2;
    border: #134644 3px solid;
    border-radius: 13px 13px 0 0;
    border-bottom: none;
}

.slot {
    flex: 1;
    border: #134644 3px solid;
    border-bottom: 0;
    background-image: none;
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot:first-child {
    border-top-left-radius: 10px;
}
.slot:last-child {
    border-top-right-radius: 10px;
}

.reserve-button {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
}

.bg-green {
    background-color: #73e573;
}
.bg-red {
    background-color: #ff5c5c;
}

.space {
    flex: 1;
    display: flex;
    border-top: 0;
}

.temp {
    flex: 1;
    padding-right: 1px;
    border-bottom: 5px solid #134644;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp:first-child {
    border-bottom-left-radius: 13px;
    border-left: 5px solid #134644;
}
.temp:last-child {
    border-bottom-right-radius: 13px;
    border-right: 5px solid #134644;
}
.temp:nth-child(2) {
    flex: 0.7;
    border-bottom: 0;
}

.toll {
    display: flex;
    flex: 1.3;
}

.grass {
    flex: 1;
}
.grass:first-child {
    border-right: 5px solid #134644;
    border-bottom-left-radius: 13px;
}
.grass:last-child {
    border-left: 5px solid #134644;
    border-bottom-right-radius: 13px;
}

.road {
    flex: 0.7;
    background-color: #aaa;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popup {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 20px 0;
}

.payment {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 20px 0;
}

.payment > p {
    width: 80%;
}

.qr {
    width: 70%;
    height: 70%;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.text-box {
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #134644;
    font-size: 15px;
}
.submit-form {
    width: 80%;
    padding: 10px 5px ;
    border-radius:10px;
    border: none;
    font-size: 15px;
    background-color: #134644;
    border: 3px solid #134644;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .2s;
}
.submit-form:hover {
    background-color: #217976;
    border: 3px solid #217976;
    transition: all ease-in-out .2s;
}

.close-form {
    width: 80%;
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    border: 3px solid #134644;
    color: #134644;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;
    transition: all ease-in-out .2s;
}
.close-form:hover {
    background-color: #217976;
    border: 3px solid #217976;
    color: white;
    font-weight: normal;
    transition: all ease-in-out .2s;
}

.displayUser {
    display: none;
    background-color: #134644;
    color: #80ef90;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
}

@media screen and (max-width: 850px) {
    .container {
        width: 90%;
        height: 50%;
    }
}

@media screen and (max-width: 400px){
    .container {
        width: 90%;
        height: 40%;
    }
}